

input{
    background: transparent;
    margin-top: 10px;
    border: grey;
    width: 40%;
    margin-left: 290px;
    /* width: 60%; */
    align-items: center;
    justify-content: center;
    text-align: center;
    


}
input:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgb(111, 170, 191);


}

#img{

    height: auto;
    display: block;
     position: fixed;
}
#hi{
    text-shadow: 0px 0px 5px rgb(25, 189, 214) ,
    0px 0px 10px rgb(33, 164, 230) ,
    0px 0px 15px pink , 
    0px 0px 20px rgb(99, 217, 221);
     margin-left: 50px;
      margin-top: 40px;
      cursor: pointer;
    
}

form{
    max-width: 100%;
    height: auto;
    border-radius: 80px;
    backdrop-filter: blur(3px);
    box-shadow: 0px 3px 1px 3px #70a5d3;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;

}
.container{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.header{
    justify-content: center;
    text-align: center;
    align-items: center;
}
button:hover{
    transform: scale(1.2);
    background-color: #41afc8;
    color: black;

}


a:hover{
    color: black;
    transform: scale(1.2);

}

